# Week11 Lab

1. Scrape the information from the following website: https://www.scrapethissite.com/pages/simple/ 
show the values in a dataframe
1. Save the data frame as a csv file. (You will be using it a part of your homework.)

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
response = requests.get('https://raw.githubusercontent.com/msaricaumbc/DS_Data/master/data.html')
response.ok

True

In [3]:
response.text[:1000]

'<!doctype html>\n<html lang="en"> \n <head> \n  <meta charset="utf-8"> \n  <title>Countries of the World: A Simple Example | Scrape This Site | A public sandbox for learning web scraping</title> \n  <link rel="icon" type="image/png" href="/static/images/scraper-icon.png"> \n  <meta name="viewport" content="width=device-width, initial-scale=1.0"> \n  <meta name="description" content="A single page that lists information about all the countries in the world. Good for those just get started with web scraping."> \n  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous"> \n  <link href="\\\'https://fonts.googleapis.com/css?family=Lato:400,700\\\'" rel="\\\'stylesheet\\\'" type="\\\'text/css\\\'"> \n  <link rel="stylesheet" type="text/css" href="/static/css/styles.css"> \n  <meta name="ro'

In [4]:
html_doc = response.text

In [5]:
soup = BeautifulSoup(html_doc, 'html.parser')

## Solution Starts Here

In [6]:
def create_df(soup_obj):
    
    #get target information block from the webpage
    target_data = soup.find_all('div',{'class':'col-md-4 country'})
    
    #create empty dataframe
    countries = pd.DataFrame(columns=['SrNo', 'country','capital','population','area'])
    
    #temp_dict package
    temp_rec_dic = {'SrNo':0,'country':'', 'capital': '', 'population': None, 'area':None}
    
    #Clean and extract relevant info fromt the block
    sr_no = 0
    for i in target_data:
        sr_no += 1
        country, capital, population, area = '','',None, None 

        #Extracting information
        country = i.find('h3').text.strip()
        capital= i.find('span',{ "class":"country-capital"}).text.strip()
        population = int(i.find('span',{ "class":"country-population"}).text.strip())
        area = float(i.find('span',{ "class":"country-area"}).text.strip())

        #Unkown values replacing with NAs
        if population is None: population = "NA"
        if area is None: area = 'NA'

        #Packing info in a dictionary
        temp_rec_dic.update({'SrNo':sr_no,'country':country, 'capital': capital, 'population': population, 'area':area})

        #Adding record to the DataFrame
        countries = countries.append(temp_rec_dic, ignore_index = True)
    
    return countries

In [7]:
world_countries = create_df(soup)

In [8]:
world_countries

    SrNo               country           capital population       area
0      1               Andorra  Andorra la Vella      84000      468.0
1      2  United Arab Emirates         Abu Dhabi    4975593    82880.0
2      3           Afghanistan             Kabul   29121286   647500.0
3      4   Antigua and Barbuda        St. John's      86754      443.0
4      5              Anguilla        The Valley      13254      102.0
..   ...                   ...               ...        ...        ...
245  246                 Yemen             Sanaa   23495361   527970.0
246  247               Mayotte         Mamoudzou     159042      374.0
247  248          South Africa          Pretoria   49000000  1219912.0
248  249                Zambia            Lusaka   13460305   752614.0
249  250              Zimbabwe            Harare   11651858   390580.0

[250 rows x 5 columns]

In [9]:
world_countries[world_countries.country == 'India']

    SrNo country    capital  population       area
104  105   India  New Delhi  1173108018  3287590.0

### CSV File creation

In [10]:
world_countries.to_csv('countries.csv', index=False)